# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Phuc\Google Drive\Studie\3. Semester\Systemudvikling og Programmering\Opgaver\FitnessExercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
